<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 tex-center">
            <!---////////////////////////////////////////////////////////////////////////////////////////////////-->
            <form action="/guardar" method="Post">
            <!---////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="form-group">
                    <label for="formGroupExampleInput">Cedula</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ej: 1006085234">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Nombre Completo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="ej: Camilo Garcia Guevara">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Dirección</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="calle 13 B bis # 25 - 103">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Teléfono</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="3361578">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Correo Electrónico</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="example@gmail.com">
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Consultar
                </button>
                <button type="submit" class="btn btn-primary btn-block">
                    Crear
                </button>
                <button type="submit" class="btn btn-primary btn-block">
                    Actualizar
                </button>
                <button type="submit" class="btn btn-primary btn-block">
                    Borrar
                </button>
            <!---////////////////////////////////////////////////////////////////////////////////////////////////-->
            </form>
            <!---////////////////////////////////////////////////////////////////////////////////////////////////-->
        </div>
    </div>
</div>
</div>