<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 tex-center">

                <div class="form-group">
                    <label for="formGroupExampleInput">Cedula</label>
                    <input type="text" class="form-control" id="cedula" placeholder="ej: 1006085234">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Nombre Completo</label>
                    <input type="text" class="form-control" id="nombre"
                        placeholder="ej: Camilo Garcia Guevara">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3">Dirección</label>
                    <input type="text" class="form-control" id="direccion"
                        placeholder="calle 13 B bis # 25 - 103">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput4">Teléfono</label>
                    <input type="text" class="form-control" id="celular" placeholder="3361578">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput5">Correo Electrónico</label>
                    <input type="text" class="form-control" id="correo" placeholder="example@gmail.com">
                </div>

                <button type="button" class="btn btn-primary btn-block" onclick="consultar();">
                    Consultar
                </button>
                <button type="button" class="btn btn-primary btn-block" onclick="crear();">
                    Crear
                </button>
                <button type="button" class="btn btn-primary btn-block" onclick="actualizar();">
                    Actualizar
                </button>
                <button type="button" class="btn btn-primary btn-block" onclick="borrar();">
                    Borrar
                </button>

        </div>
    </div>
</div>
</div>
<script href="src/js/clientes.js"></script>