<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 tex-center">
            <div class="card-header mx-auto d-block">
                <h1>Subir Archivo</h1>
            </div>
            <div class="card-body">
                <div class="form-goup p-2 center">
                    <input type="file" class="form-control" id="inputGroupFile02">
                </div>
                <div class="form-goup p-2 center">
                    <button type="submit" class="btn btn-primary btn-block">
                        Cargar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>