<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menù con tabs | Html - Css</title>
    <link rel="stylesheet" href="/CSS/ventasTabla.css">
</head>
<body>
    <div class="container">
        <div class="lbl-menu">
            <label for="radio1">Tabla De Las Ventas Echas Por Clientes</label>
            <label for="radio2">Lista de Clientes</label>
            <label for="radio3">Lista de Proovedores</label>
        </div>
        
        <div class="content">

            <input type="radio" name="radio" id="radio1" checked>
                <div class="tab1">
                    <table id ="tablaVentas">
                        
                    </table>
                </div>
            
            <input type="radio" name="radio" id="radio2">
                <div class="tab2">
                    <table id ="tablaClientes">
                            
                    </table>
            <input type="radio" name="radio" id="radio3">
                <div class="tab3">
                    <table id ="tablaPro">
                            
                    </table>
                </div>
        </div>
    </div>
    <script src="/JS/ventasTabla.js"></script>
</body>
</html>