<div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="display-5 fw-bold" style="text-transform: uppercase; margin-top: 2px;">¿Quienes somos?</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, tempore nemo. 
                        Vitae provident rerum placeat asperiores delectus ab necessitatibus porro explicabo, 
                        blanditiis inventore. Voluptate velit eius tempora repudiandae dolorum odit.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="/recursos/imagenes/3582883.jpg" class="rounded-lg mx-auto d-block m-4 logo"
                    alt="Logo">
                </div>

            </div>
        </div>

    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-dark bg-light rounded-3">
                <h2>Visión</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut magnam in beatae labore, 
                    repudiandae eos, iure nam velit quisquam iste recusandae odit eveniet officia. Culpa 
                    repudiandae atque totam recusandae officiis!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Misión</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, quisquam tenetur 
                    consequuntur dolores ipsum autem libero recusandae qui laborum repudiandae, necessitatibus 
                    dolor deleniti fugiat, provident consequatur repellendus cumque aliquid non?</p>
            </div>
        </div>
    </div>
</div>